@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:black;
}

div.texto{
    font-family:Arial, Helvetica, sans-serif;
    width:380px;
    color:white;
    padding:20px;
}

.texto h1{
    font-size: 27px;
    padding:6px;
    margin-bottom:6px;
}

.texto label{
    color: #22D4FD; 
}

.texto p{
    text-align: left;
    padding: 6px;
}

