@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


div.texto{
    font-family:Arial, Helvetica, sans-serif;
    width:380px;
    color:white;
    padding:20px;
}

/* DIV IMAGEM */

.texto h1{
    font-size: 27px;
    padding:6px;
    margin-bottom:6px;
}

.texto h1 label {
    color: #22D4FD; 
}

.texto p{
    text-align: left;
    padding: 6px;
    line-height: 20px;
    font-size:13px;
}

.texto #butto{
    border: 1px solid red;
    padding: 16px;
    width: 340px;
    display: flex;
}

label button{
    padding:10px;
    border-radius:8px;
    border:none;
    background:#22D4FD;
    display: inline-flex;
}

/*DIV IMAGEM */


img{
    height: 280px;;
}