@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

header{
    background: black;
    padding: 10px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    gap:18px;
    margin-left: 17%;
}

header a{
    text-decoration:none;
    color:#22D4FD;
}

/* BODY DA PAGINA */

body{
    background-color:black;
}

main{
    display: flex;
    margin: 0% 20%;
    align-items: center;
    padding: 1px;
    height: 100vh;
}

h1{
    color:white;
    font-size: 30px;
    font-family: "Krona One", sans-serif;
    width: 80%;
    padding:3px;
}

h1 label{
    color:#22D4FD;
}

section{
    display: flex;
    flex-direction: column;
    gap:18px;
    align-items: center;
    
}

section p{
    color:white;
    font-family: "Montserrat", sans-serif;
    width: 80%;
    word-spacing: 6px;
    justify-content: space-between;
}

img{
    width:370px;
    height:400px;
}

h2{
    color:white;
    font-family:"krona one",sans-serif;
    font-size: 14px;
    font-weight:400;
}

#minhas_redes{
    padding:4px;
    width:80%;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 18px;

}

#minhas_redes a{
    text-decoration:none;
    border:2px solid #22D4FD;
    width: 50%;
    border-radius:6px;
    padding:10px;
    font-family: "Montserrat", sans-serif;
    color:white;
    display: flex;
    justify-content:center;
    gap:10px;
}

#minhas_redes a:hover{
    background-color:#0a0a0ac6;
}

#minhas_redes a img{
    width:20px;
    height: 20px;
}

/* footer */

footer p{
    color:white;
    border:1px solid #22D4FD;
    border-radius:8px 8px 0px 0px;
    padding: 10px;
    text-align:center;
    margin: 0px;
}


